.cumRap{
    margin-top: 50px;
    img{
        width: 50%;
        height: 50px;
    }
}
@media screen and (max-width:768px){
    .cumRap{
        img{
            width: 100%;
            height: auto;
        }
    }
}
.tab-content{
    margin-top: 0;
    p{
        font-weight: 600;
        font-size: 18px;
    }
}
.cumRap{
    .row{
        border: 1px solid #ebebec;
    }
    .col-6{
        border-left: 1px solid #ebebec;
    }
}
.nav-pills .nav-link.active{
    background: none;
    color: black;
    opacity: 1;
    text-align: center;
    font-weight: 600;
}

.nav-pills .nav-link{
    color: black;
    opacity: 0.5;
    text-align: center;
    &:hover{
        opacity: 1;
    }
}