.app{

    margin-top: 80px;
    background-image: url(../../Assets/img/backapp.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
    
    .img{
        height: 400px;

        padding: 0 28%;
    }
    .right{
        position: relative;
    }
    .carousel{
        position: absolute;
        padding: 1% 29.3% 0 29.3%;
        top: -17%;
        left: 1%;
        overflow: hidden;
        img{
            height: 385px;
           overflow: hidden;
        }
        .carousel-inner{
        border-radius: 20px;
        overflow: hidden;
        }
        .carousel-item{
            overflow: hidden;
        }
       .slide.active{
           background-color: black;
       }
       .slide{
        background-color: black;
    }

    }
   
}